html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    font-family: sans-serif;
}
.wrap{
    width: 1200px;
    margin: auto;
}
.header{
    height: 214px;
    border-bottom: 2px solid #000000;
}
h1{
    font-size: 80px;
    margin-top: 40px;
    left: 360px;
    width: 274px;
    height: 190px;
}
img{
    margin-top: 48px;
    left: 360px;
    width: 324px;
    height: 324px
}
.title{
    height: 53px;
    font-size: 32px;
    margin-top: 48px;
    font-weight: bold;
    border-bottom: 1px solid #000000;
}
.title span{
    font-size: 24px;
    color: #A00404;
    margin-left: 16px;
    vertical-align: top;
}
.content{
    margin-top: 16px;
}
.content p{
    font-size: 24px;
    line-height: 36px;
    margin-top: 16px;
}
.title .education{
    margin-top: 72px;
}
.skill{
    text-align: center;
    padding: 24px 102px 52px 102px;
    height: 496px;
    margin-top: 72px;
    background-color: #415165;
}
.skill .title{
    color: #FFFFFF;
    width: 996px;
    border-bottom: 1px solid #FFFFFF;
}
.skill span{
    color: white;
    vertical-align: bottom;
}
.skill ul{
    display: inline-block;
    margin-top: 40px;
    text-align: center;
    border-left: 1px solid #96A9C4;
}
.skill ul li{
    line-height: 36px;
    font-size: 24px;
    color: white;
    text-align: left;
    margin-left: 24px;
}
.title .experience{
    margin-top: 72px;
}
.experience img{
    width: 89.5px;
    height: 66.85px;
}
.logo{
    width: 89.5px;
    height: 66.85px;
    margin-top: 8px;
}
.hex_content{
    width: 642px;
    height: 150px;
    font-size: 20px;
    line-height: 30px;
    margin-top: 8.15px;
}
h3{
    font-weight: bold;
    font-size: 24px;
    margin-top: 32px;
}
.simtree{
    width: 72px;
    height: 73px;
    margin-top: 8px;
}
.simtree_content{
    font-size: 20px;
    margin-top: 8px;
}
.experience_content{
    display: inline-block;
    border-left: 1px solid #96A9C4;
    margin-left: 216px;
    margin-top: 16px;
    padding-left: 24px;
}
.footer{
    height: 401px;
    background-color: #415165;
    padding:24px 0 48px 0;
    margin-top: 76px;
}
.footer .title{
    color: #FFFFFF;
    width: 1200px;
    margin: auto;
    border-bottom: 1px solid #FFFFFF;
    text-align: center;
}
.footer span{
    color: white;
    vertical-align: bottom;
}
.footer ul{
    margin-top: 40px;
    text-align: center;
}
.footer ul li{
    line-height: 36px;
    font-size: 24px;
    color: white;
    margin-top: 16px;
}
.social{
    text-align: center;
}
.social img{
    width: 48px;
    height: 48px;
    margin-left: 24px;
}